logs/
npm-debug.log
yarn-error.log
.yarn
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nyc_output/
dist/
mysql*/
nginx*/
local.*
.env
.data/
.vscode

# nginx ssl
nginx.domain.key
nginx.domain.crt